section {
    height: 500px;
    width: 500px;
    background-color: blueviolet;
}

#rgba {
    height: 50%;
    width: 50%;
    background-color: rgba(200, 200, 200, .15);
}

#opacity {
    height: 50%;
    width: 50%;
    background-color: aquamarine;
    opacity: .5;
}